* {
  /* margin: 10px; */
  padding: 10px;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

::selection {
  background-color: #e57718;
  color: #ffffff;
}

body {
  background-color: #f4f3ef;
}

header {
  background-image: url(imgs/home-header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 1516px;
}

.logo img {
  width: 130px;
  margin-top: -10px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.nav-bar {
  display: flex;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.32px;
  gap: 20px;
  margin-left: 100px;
}

.nav-bar li a {
  text-decoration: none;
  color: #8aacb6;
}

.active {
  /* text-decoration: underline; */
  color: #8aacb6;
  /* height: 3px; */
}
.active a {
  border-bottom: 2px solid #6e95a1;
  padding-left: 2px;
  padding-right: 2px;
}
.header-text {
  padding-left: 430px;
  padding-top: 45px;
}

.header-text h1 {
  font-size: 67px;
  color: #6e95a1;
  font-weight: 600;
  /* width: 90px; */
  line-height: 1;
}

.header-text p {
  color: #6e95a1;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: -55px;
}

.header-text span {
  border-bottom: 3px solid #7c9aa3;
  padding-left: 40px;
}

.container-1 {
  display: flex;
}

.container-1-text {
  width: 350px;
  padding-left: 90px;
  /* padding-right: 90px; */
  margin-top: -60px;
  color: #7c9aa3;
}

.container-1-img {
  background-image: url(imgs/home-landrover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 665px;
  width: 1000px;
}

.container-1-text span {
  border-bottom: 3px solid #7c9aa3;
  padding-left: 40px;
}

.container-2 {
  display: flex;
  justify-content: space-evenly;
}

.container-2-img {
  background-image: url(imgs/img\ container\ 2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 824px;
  width: 390px;
  margin-left: -170px;
}

.container-2-text {
  display: flex;
  flex-direction: column;
  justify-self: center;
  position: relative;
  top: 150px;
  left: 20px;
  width: 550px;
}

.container-2-text h1 {
  font-size: 36.8px;
  color: #7c9aa3;
  padding-top: 60px;
}

.container-2-text img {
  height: 200px;
  width: 200px;
  opacity: 0.9;
}

.container-2-text b {
  color: #7c9aa3;
  font-size: 20px;
  font-weight: 800;
}

.container-2-text h6 {
  font-size: 18px;
  font-weight: 400;
  margin-top: -30px;
  color: #7c9aa3;
}

.left {
  margin-top: -280px;
  margin-left: -150px;
}

.right {
  margin-left: 400px;
  margin-top: -50px;
}

.gallery {
  margin-top: -160px;
}

.container-3 {
  display: flex;
}

.container-3-text {
  width: 60%;
  padding-left: 50px;
  /* padding-right: 90px; */
  /* margin-top: -60px; */
  color: #7c9aa3;
}

.container-3-text span {
  border-bottom: 3px solid #7c9aa3;
  padding-left: 40px;
}

.container-3-info {
  margin-top: 70px;
}

.container-3-imgs {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  gap: 30px;
  margin-left: 160px;
}

.container-3-imgs img {
  border-radius: 50%;
}

.container-3-p {
  display: flex;
  width: 80%;
  float: right;
  color: #6e95a1;
  text-align: center;
  line-height: 1.5;
  margin-right: 40px;
  gap: 10px;
}

.container-3-p h1 {
  font-size: 18px;
  text-align: center;
  margin-top: -10px;
}

.container-3-p p {
  margin-top: -20px;
}

.container-4 {
  display: flex;
}

.container-4-img img {
  height: 720px;
  width: 440px;
  margin-top: -20px;
}

.container-4-text {
  background-color: #6e95a1;
  height: 700px;
  color: white;
  padding-top: 130px;
  padding-left: 160px;
}

.container-4-text p {
  width: 70%;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: -25px;
}

.container-4-text span {
  border-bottom: 3px solid white;
  padding-left: 40px;
  margin-left: 10px;
}

.container-4-text h2 {
  font-size: 26px;
  font-weight: 200;
  line-height: 1px;
}

.container-5 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.container-5 h1 {
  font-weight: bold;
  color: #6e95a1;
  font-size: 25px;
}

.container-5 h1 em {
  font-weight: lighter;
}

.container-5 p {
  color: #6e95a1;
  margin-top: -25px;
}

.container-5 input {
  border: none;
  width: 30%;
  height: 50px;
}

.container-5 input::placeholder {
  text-align: center;
  color: rgb(167, 164, 164);
  text-transform: lowercase;
  font-size: 16px;
}

button {
  background-color: #e57718;
  border-radius: 30px;
  color: white;
  border: none;
  padding: 12px 60px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input[type="email"]:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.3rem #e57718;
  border: pink;
  /* Remove the border */
}

.footer-icons img {
  width: 100px;
  margin-top: -10px;
}

footer {
  display: flex;
  margin-top: 50px;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.footer-icons a {
  color: #6e95a1;
  margin-left: -25px;
}
.footer-text {
  display: flex;
  flex-direction: row;
  line-height: 1px;
  margin-left: 210px;
  gap: 11px;
}

.first-text p,
.second-text p,
.third-text p {
  margin-bottom: -12px;
  color: #6e95a1;
  font-size: 15px;
  /* padding-left: 30px; */
}

.first-text h5,
.second-text h5,
.third-text h5 {
  font-size: 16px;
  color: #6e95a1;
  margin-top: -5px;
  /* padding-left: 30px; */
}

.last-container {
  text-align: center;
  color: #6e95a1;
  height: 50px;
}
