* {
  /* margin: 10px; */
  padding: 10px;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

::selection {
  background-color: #2cb0df;
  color: #ffffff;
}

body {
  background-color: #f4f3ef;
}

header {
  background-image: url(portugal.imgs/portugal-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 1516px;
}

.logo img {
  width: 130px;
  margin-top: -10px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.nav-bar {
  display: flex;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.32px;
  gap: 20px;
  margin-left: 100px;
}

.nav-bar li a {
  text-decoration: none;
  color: #2cb0df;
}

.active {
  /* text-decoration: underline; */
  color: #2cb0df;
  /* height: 3px; */
}
.active a {
  border-bottom: 2px solid #2cb0df;
  padding-left: 2px;
  padding-right: 2px;
}
.header-text {
  padding-left: 250px;
  padding-top: 25px;
}

.header-text h1 {
  font-size: 67px;
  color: #2cb0df;
  font-weight: 600;
  /* width: 90px; */
  line-height: 1;
}

.header-text p {
  color: #2cb0df;
  letter-spacing: 2px;
  font-size: 16px;
  margin-top: -55px;
  width: 60%;
  line-height: 26px;
}

.header-text span {
  border-bottom: 3px solid #2cb0df;
  padding-left: 40px;
}
.header-text button {
  background-color: #2cb0df;
  border-radius: 30px;
  color: white;
  border: none;
  padding: 12px 60px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container-1 {
  display: flex;
}

.container-1-text {
  width: 350px;
  color: #2cb0df;
}

.container-1-img {
  background-image: url(portugal.imgs/adventure.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 575px;
  width: 1024px;
}

.container-1-img > div {
  font-size: 40px;
  color: white;
  text-align: center;
  position: relative;
  top: 45%;
  font-weight: bold;
}

.container-1-img:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.container-1-text span {
  border-bottom: 3px solid #2cb0df;
  padding-left: 40px;
}
.container-2 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.container-2 > span {
  width: 414px;
  height: 279px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 100px;
}
.Culinary:hover,
.Culture:hover,
.Family:hover,
.Action:hover,
.Local:hover,
.Offbeat:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.Culinary {
  background-image: url(portugal.imgs/1.jpeg);
}
.Culture {
  background-image: url(portugal.imgs/2.jpg);
}
.Family {
  background-image: url(portugal.imgs/3.jpg);
}
.Action {
  background-image: url(portugal.imgs/4.jpg);
}
.Local {
  background-image: url(portugal.imgs/5.jpg);
}
.Offbeat {
  background-image: url(portugal.imgs/6.jpg);
}

.container-3 {
  display: flex;
  align-items: center;
  color: #2cb0df;
  margin-top: 50px;
}
.container-3-h {
  width: 35%;
  margin-left: 40px;
  border-right: 3px solid #2cb0df;
  height: 110px;
  /* padding-top: 90px; */
}
.container-3-h > span {
  border-bottom: 3px solid #2cb0df;
  padding-left: 40px;
}
.container-3-p {
  width: 55%;
}
.container-4 {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.card-1 {
  width: 32%;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 622px;
}
.card-1 > img {
  width: 100%;
  height: 281px;
}
.card-1 > div {
  border-bottom: 3px solid #2cb0df;
  padding-left: 40px;
  width: 20px;
  margin-left: 20px;
}
.card-1 > h2 {
  font-size: 34px;
  color: #2cb0df;
  margin-top: -5px;
  margin-left: 5px;
}
.card-1 > p {
  font-size: 16px;
  color: #2cb0df;
  padding: 20px;
  margin-top: -55px;
}
.card-1 > button {
  margin-top: -22px;
  margin-left: 15px;
}

.container-5-img {
  background-image: url(portugal.imgs/portugal-quote-image-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1294px;
  height: 1925px;
}

.container-5-text {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-top: 470px;
  margin-left: 300px;
}

.container-5-text h1 {
  font-size: 40.8px;
  color: #2cb0df;
  padding-top: 60px;
  line-height: 50px;
}

.container-5-text img {
  height: 200px;
  width: 200px;
  opacity: 0.9;
}

.container-5-text b {
  color: #2cb0df;
  font-size: 20px;
  font-weight: 800;
  margin-top: -30px;
}

.container-5-text h6 {
  font-size: 18px;
  font-weight: 400;
  margin-top: -30px;
  color: #2cb0df;
}

.left {
  margin-top: -300px;
  margin-left: -150px;
}

.right {
  margin-left: 400px;
  margin-top: -50px;
}

.container-6 {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row-reverse;
}

.container-6-text {
  width: 25%;
margin-top: 150px;
  color: #2cb0df;
  float: right;
}

.container-6-text p {
  margin-top: -20px;
  font-size: 16px;
}
.container-6-text h1 {
  font-size: 40px;
  line-height: 1;
}

.container-6-img {
  background-image: url(portugal.imgs/Robey-sidecar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 867px;
  margin-right: 90px;
}

.container-6-text span {
  border-bottom: 3px solid #2cb0df;
  padding-left: 40px;
}

.container-7 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 40px;
}

.container-7 h1 {
  font-weight: bold;
  color: #2cb0df;
  font-size: 25px;
}

.container-7 h1 em {
  font-weight: lighter;
}

.container-7 p {
  color: #2cb0df;
  margin-top: -25px;
}

.container-7 input {
  border: none;
  width: 30%;
  height: 50px;
}

.container-7 input::placeholder {
  text-align: center;
  color: rgb(167, 164, 164);
  text-transform: lowercase;
  font-size: 16px;
}

button {
  background-color: #2cb0df;
  border-radius: 30px;
  color: white;
  border: none;
  padding: 12px 60px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input[type="email"]:focus {
  border-color: #2cb0df;
  box-shadow: 0 0 0 0.3rem #2cb0df;
  border: pink;
  /* Remove the border */
}

.footer-icons img {
  width: 100px;
  margin-top: -10px;
}

footer {
  display: flex;
  margin-top: 50px;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.footer-icons a {
  color: #2cb0df;
  margin-left: -25px;
}
.footer-text {
  display: flex;
  flex-direction: row;
  line-height: 1px;
  margin-left: 210px;
  gap: 11px;
}

.first-text p,
.second-text p,
.third-text p {
  margin-bottom: -12px;
  color: #2cb0df;
  font-size: 15px;
  /* padding-left: 30px; */
}

.first-text h5,
.second-text h5,
.third-text h5 {
  font-size: 16px;
  color: #2cb0df;
  margin-top: -5px;
  /* padding-left: 30px; */
}

.last-container {
  text-align: center;
  color: #2cb0df;
  height: 50px;
}
